# 
# project-x 2020
# 

desc = "ops rule"
author = "projectx app"
version = 1

ops = [
{% for op in ops %}
{% if op.checked %}
  #{{op.label}}
  
  {name = {{op.name}}, mode = {{op.modeName}}, mode = {{op.modeName}} {{ op.allow ? "" : ", ruleMode = ignore" }} }
{% endif %}
{% endfor %}
]
