ops = [
{% for op in ops %}
{% if op.checked %}
  #{{op.label}}
  
  {name = {{op.name}}, mode = {{op.modeName}}, mode = {{op.modeName}} {{ op.allow ? "" : ", ruleMode = ignore" }} }
{% endif %}
{% endfor %}
]
